<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("partials/head") %>
    <!-- Meta -->
    <meta name="description" content="Administration oCoffee" />
    <meta name="robots" content="noindex" />
    <!-- Style -->
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="form">
        <h1>Ajouter un café</h1>
        <form method="POST">
          <label for="id">ID</label>
          <input type="number" name="id" id="id" value="<%= idCoffee %>" readonly />

          <label for="name">Nom</label>
          <input type="text" name="name" id="name" placeholder="Expresso" required />
          
          <label for="reference">Référence</label>
          <input type="text" name="reference" id="reference" placeholder="000000000" required/>
          
          <label for="text">Description</label>
          <textarea name="text" id="text" value="" placeholder="Votre description..." required></textarea>
          
          <label for="price">Prix au kg</label>
          <input type="text" name="price" id="price" placeholder="00.00" required />
          
          <fieldset>
            <legend>Le produit est-il disponible en boutique ?</legend>
          <div>
          <label for="choice1">Oui</label>
          <input type="radio" name="stock" id="choice1" value="true" />
          <label for="choice2">Non</label>
          <input type="radio" name="stock" id="choice2" value="false"/>
          </div>
          </fieldset>
          <label for="country">Origine</label>
          <select name="country" id="country" required >
            <% countries.forEach(country => { %>
              <option value="<%= country.id %>"><%= country.name %></option>
            <% }); %>
          </select>

          <fieldset>
            <legend>Choisir les caractéristiques</legend>
              <% features.forEach(feature => { %>
                  <input type="checkbox" id="<%= feature.name %>" name="features" value="<%= feature.id %>">
                  <label for="<%= feature.name %>"><%= feature.name %></label>
              <% }); %>
              </fieldset>

          <input type="submit" value="Envoyer" />
        </form>
      </section>
      <a href="/catalogue" class="button"> Retour au catalogue </a>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>