<%- include("partials/header") %>
<main>
  <section id="product">
    <h1><%= coffee.name %></h1>
    <img src="/images/coffees/<%= coffee.reference %>.png" alt="<%= coffee.name %>" />
    <div class="infos">
      <p>Origine <%= coffee.country %></p>
      <p><%= coffee.price_kg %> €/kg</p>
    </div>
    <p><%= coffee.text %></p>
    <p>
    <% coffee.features.forEach(feature => { %>
      <span class="feature"><%= feature %></span>
    <% }); %>
    </p>
  </section>
  <a href="/catalogue" class="button"> Retour au catalogue </a>
</main>

<%- include("partials/footer") %>
