<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include("partials/head") %>
  <!-- Meta -->
  <meta name="description" content="Découvrez notre café <%= coffee.name %> origine <%= coffee.country %> au meilleur prix dans votre boutique oCoffee">
  <!-- Style -->
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <section id="product">
      <h1><%= coffee.name %></h1>
      <img src="/images/coffees/<%= coffee.reference %>.webp" alt="<%= coffee.name %>" />
      <div class="infos1">
        <div class="infos2">
          <p>Origine <%= coffee.country %></p>
          <p><%= coffee.price_kg %> €/kg</p>
        </div>
        <% if (coffee.stock = "false") {%>
        <span class="stock">Rupture de stock</span>
        <% }; %>
      </div>
      <p><%= coffee.text %></p>
      <p>
      <% coffee.features.forEach(feature => { %>
        <span class="feature"><%= feature %></span>
      <% }); %>
      </p>
    </section>
    <a href="/catalogue" class="button"> Retour au catalogue </a>
  </main>
  <%- include("partials/footer") %>
</body>
</html>